# Byte-compiled and cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
*.venv

# Package dependencies
*.egg-info/
*.dist-info/
pip-log.txt
pip-delete-this-directory.txt

# PyTorch-related
*.pt
*.pth

# VS Code settings
.vscode/
*.code-workspace

# Logs and debugging
logs/
*.log
*.out
*.err
debug.log

# Temporary and backup files
*.swp
*.swo
*.bak
*.tmp
.DS_Store

# AWS-specific files
*.pem
*.key
*.crt
.ec2-user/


# tokenized and sharded files
edu_fineweb10B/
aae_token_shards_no_multiprocess/
aae_token_shards_multiprocess_M2/
aae_token_shards_multiprocess_gpu/
aae_token_shards_mp/
aae_token_shards_no_mp/
aae_token_shards_mp_M2/
aae_token_shards_mp_gpu/
aae_token_shards_mp/
aae_token_shards/
aae_shards_mp/
aae_shards_no_mp/
